.header {
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 20px;
    margin: 15px;
 }
  .header h1 {
    padding-left: 30px;
  }
  .week-selector {
    margin-top: 0.7%;
    margin-left: 40%;
    font-size: 18px;
  }
  .week-selector span {
position: relative;
top: 0.1vh;
padding-right: 15px;
  }

  .week-selector button {
    margin: 0 5px;
    padding: 5px 22px;
    border: none;
    background-color: rgb(173, 172, 172);
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
  }

  .week-selector span {
    position: relative;
    top: 0.1vh;
    padding-right: 15px;
    font-size: 22px;
  }


  
  .week-selector button:hover {
    background-color: #b8b7b7;
  }